
Napoleon's Legacy_Remake/gfx/FX/terrain_2_0.fx
Napoleon's Legacy_Remake/gfx/FX/texturesheet.tga
Napoleon's Legacy_Remake/gfx/FX/texturesheet2.tga
Napoleon's Legacy_Remake/gfx/FX/water.fx
Napoleon's Legacy_Remake/localisation/NL_remake_decisions.csv
Napoleon's Legacy_Remake/map/terrain/colormap_political.dds
Napoleon's Legacy_Remake/map/terrain/colormap_water.xcf
Napoleon's Legacy_Remake/map/terrain/map_overlay_tile.dds
Napoleon's Legacy_Remake/map/terrain/map_overlay_tile.xcf
Napoleon's Legacy_Remake/map/terrain/texturesheet.tga
Napoleon's Legacy_Remake/map/terrain/texturesheet2.tga
